* {
    --black: #000000;
    --white: #ffffff;
    --rust: #925946;
    --mustard: #c58b2a;
    --sage: #c3c6b1;
    --green: #4b553a;
    --tan: #bf8f72;
    --background:#f7e3d4;
}

.mobile-nav {
    display: none;
}

.mobile-nav ul {
    width: 100%;
    background-color: var(--tan);
}

.mobile-nav ul li,  .mobile-nav ul li a, .mobile-nav ul li p {
    padding: 10px;
    color: var(--green);
}


.mobile-nav .hamburger {
    position: absolute;
    top: 17px;
    right: 5%;
}

.mobile-nav .hamburger:hover {
    cursor: pointer;
}



@media screen and (max-width: 800px) {
    .mobile-nav {
        display: block;
    }
}