footer {
    inline-size: 100%;
    justify-content: center;
}

.service {
    display: inline-block;
    margin: 10px;
    height: fit-content;
    padding: 20px;
    
    }

.contact{
    padding: 20px;
    /* display: inline-flex;
    flex-direction: row;
    float: inline-end; */
    margin: 2%;
    max-height:35%;
    inline-size: 12%;
    
}
